{
  "gameName": "sample-game",
  "addNValue": 3,
  "maxCopiesPerCard": 4,
  "octgnExport": false,
  
  "groupOptions": [
    "Type",
    "Subtype"
  ],
  "groupOrder": [
    "Hero",
    "Villain",
    "Other"
  ],
  "groupSort": {
    "Hero": {
      "by": [
        "Level",
        "name"
      ],
      "order": {
        "Level": [
          "1",
          "2",
          "3",
          "4"
        ]
      }
    },
    "Villain": {
      "by": [
        "Level",
        "name"
      ],
      "order": {
        "Level": [
          "1",
          "2",
          "3",
          "4"
        ]
      }
    }
  },
  "filterOptions": [
    "Type",
    "Set",
    "Cost"
  ],
  "searchPrefixes": {
    "t:": "Text",
    "e:": "Endurance",
    "c:": "Cost"
  }
}